@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


#root {
  color: #111827;
}

@theme {
  --color-azul: #4F46E5;
  --color-menta: #10B981;
  --color-verde: #1BA285;
  --color-verdeescuro: #16886F;
  --color-amarelo: #FBBF24;
  --color-amareloescuro: #c89004;
  --color-branco: #FFFFFF;
  
  --color-fundo: #F9FAFB;
  --color-textop: #111827;
  --color-textos: #6B7280
}


/* BACKGROUND EM GRADIENTE */
@layer utilities {
  .bg-gradient-verde {
    background: linear-gradient(
      136deg,
      rgba(27, 162, 133, 1) 0%,
      rgba(16, 100, 82, 1) 50%,
      rgba(17, 32, 29, 1) 100%
    );
  }
}